/*
 * Combined style sheet for the index pages and the slide pages.
 */

/* Style for all bodies. */
body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	background-color: white;
	color: black;
	margin: 5;
}

img
{
}

/* Put a border on all generated images */
.image {
	border-width: 2px;
	border-color: #7ac4ea;
	border-style: solid;
   background-color: #7ac4ea;
   padding: 2px;
	margin: 5px;
}

/* Style for all table cells. */
td {
	font-size: 10px;
}
